.banner                
    .container
        .banner__inner
            
            .chief-about
                .chief-about__img
                    img(src="img/chief.png")
                .chief-about__article
                    span Александр 
                    |руководитель компании AutoKey
                
                
            form.search-master(action="#")
                .search-master__title 
                    span СДЕЛАЕМ АВТОКЛЮЧ ДЛЯ Volkswagen Tiguan ЗА 1 ЧАС
                    br
                    b с выездом в Москве по цене на 
                        i 40% дешевле дилера
                    
                .payment                                      
                    .payment-inner
                        .payment-item
                            .select-custom
                                select#selectBroken
                                    option(value="Заголовок") Выберите услугу
                                    option(value="/remont-zamka-zaziganiya/") Ремонт замка зажигания
                                    option(value="/zamena-zamka-zaziganiya/") Замена замка зажигания
                        .payment-item
                            .select-custom
                                select#selectMark
                                    option(value="Заголовок") Марка автомобиля
                                    option(value="Audi") Audi
                                    option(value="BMW") BMW
                        .payment-item
                            .select-custom
                                select#selectModel
                                    option(value="Заголовок") Модель автомобиля
                                    
                        .payment-item
                            button(type="button").payment__btn#urlBtn 
                                span Рассчитать стоимость

.about-keys
    h2.main-title Цены на услуги по изготовлению ключей и стоимость работ:
    .main-text
        p Современный автомобильный замок – это серьезный барьер на пути угонщиков всех категорий, который предъявляет особые требования к автоключу и его защищенности. 
            a(href="#") Автомобильный ключ 
        |с чипом значительно усложняет жизнь злоумышленников и является гарантом сохранности вашей машины. Современный чип-ключ – это сложное устройство, состоящее из собственно ключа и интегрированного с ним электронного чипа (транспондера), являющегося электромагнитным излучателем. Как правило, такой ключ не нуждается во внешнем источнике питания или подзарядке. В чипе 
        a(href="#") автомобильного ключа  
        |записан код, который во время включения зажигания передается в электронный блок управления и запускает двигатель, а также все системы транспортного средства.
        
.steps
    h2.main-title Изготовление ключей для автомобиля с выездом за 3 шага:
    
    .steps__inner.container
        ul.steps__list   
            li.steps__list_first  Заказать изготовление ключа по телефону или онлайн
            li
                |Позвоните по номеру 
                b 8 495 123-45-98
            li Назовите марку и модель автомобиля
            li
                |Автомастер сообщит вам 
                a(href="#") стоимость услуги 
                |по изготовлению ключей для машины
                
        ul.steps__list   
            li.steps__list_second Договоритесь с мастером о времени и месте ремонта
            li Мастер приедет на автомобиле, со специальным оборудованием для изготовления ключей
            li Все работы выполняются в присутствии заказчика
            li Среднее время изготовления ключа для автомобиля 
                b 35 минут
                
        ul.steps__list    
            li.steps__list_third 100% гарантия результата в день обращения
            li Заточка лезвия, изготовление и программирование ключа
            li Вы получите новые ключи для вашего автомобиля уже через 
                b 2-3 часа после обращения
            li Оплата только после выполнения работ, наличными или на карту
            
.price-service.container
    h2.main-title Цены на услуги по изготовлению ключей и стоимость работ:
    
    ul.price-service__top
        li Вид и наименование услуги
        li Стоимость
    
    .price-list
        .price-list__item
            .price-list__inner        
                .price-list__article  Не поворачивается ключ в замке зажигания. Восстановление ключа Audi A4 и прошивка чип модуля автомобиля
                    .tooltip-icon    
                    .tooltip 
                        .tooltip__inner Ремонт замка зажигания, прошивка чип модуля
                        
                .price-list__link
                    a(href="#") Заказать услугу
                    a(href="#") Получить консультацию
                .price-list__total
                    span.price-list__old 1200 руб.
                    span.price-list__new 6780 руб.     
        .price-list__item
            .price-list__inner        
                .price-list__article  Не поворачивается ключ в замке зажигания. Восстановление ключа Audi A4 и прошивка чип модуля автомобиля
                    .tooltip-icon    
                    .tooltip 
                        .tooltip__inner Ремонт замка зажигания, прошивка чип модуля
                        
                .price-list__link
                    a(href="#") Заказать услугу
                    a(href="#") Получить консультацию
                .price-list__total
                    span.price-list__old 1200 руб.
                    span.price-list__new 6780 руб. 
        .price-list__item
            .price-list__inner        
                .price-list__article  Не поворачивается ключ в замке зажигания. Восстановление ключа Audi A4 и прошивка чип модуля автомобиля
                    .tooltip-icon    
                    .tooltip 
                        .tooltip__inner Ремонт замка зажигания, прошивка чип модуля
                        
                .price-list__link
                    a(href="#") Заказать услугу
                    a(href="#") Получить консультацию
                .price-list__total
                    span.price-list__old 1200 руб.
                    span.price-list__new 6780 руб. 
            
            
.photo-block
    .photo-block__cont
        h2.main-title Фотографии изготовления ключей для Audi и других авто:

        .photo-slider.owl-carousel
            .item
                img(src="img/slide-img-1.jpg")
            .item
                img(src="img/slide-img-2.jpg")        
            .item
                img(src="img/slide-img-3.jpg") 
            .item
                img(src="img/slide-img-4.jpg")
            .item
                img(src="img/slide-img-3.jpg") 
            .item
                img(src="img/slide-img-4.jpg")
                    
.container
    .qa-block
        .qa-block__title Вопрос и ответы
        ul.qa-block__list
            li
                .qa-block__article Не поворачивается ключ в замке зажигания. Восстановление ключа Audi A4 и прошивка чип модуля автомобиля
                    button.qa-block__btn(type="button")
                .qa-block__hidden Современный чип-ключ – это сложное устройство, состоящее из собственно ключа и интегрированного с ним электронного чипа (транспондера), являющегося электромагнитным излучателем.
            li
                .qa-block__article Не поворачивается ключ в замке зажигания. Восстановление ключа Audi A4 и прошивка чип модуля автомобиля
                    button.qa-block__btn(type="button")
                .qa-block__hidden Современный чип-ключ – это сложное устройство, состоящее из собственно ключа и интегрированного с ним электронного чипа (транспондера), являющегося электромагнитным излучателем.
            li
                .qa-block__article Не поворачивается ключ в замке зажигания. Восстановление ключа Audi A4 и прошивка чип модуля автомобиля
                    button.qa-block__btn(type="button")
                .qa-block__hidden Современный чип-ключ – это сложное устройство, состоящее из собственно ключа и интегрированного с ним электронного чипа (транспондера), являющегося электромагнитным излучателем.
            li
                .qa-block__article Не поворачивается ключ в замке зажигания. Восстановление ключа Audi A4 и прошивка чип модуля автомобиля
                    button.qa-block__btn(type="button")
                .qa-block__hidden Современный чип-ключ – это сложное устройство, состоящее из собственно ключа и интегрированного с ним электронного чипа (транспондера), являющегося электромагнитным излучателем.
                
            
       
.about-us
    .about-us__inner.container 
        .about-us__item
            .about-us__title Сертификаты
            .about-us__title-mob Свидетельство и сертификат
            
            .doc-slider.owl-carousel
                .item
                    .doc-slider__img
                        img(src="img/sv.png")
                    
                    .doc-slider__article Свидетельство
                
                .item
                    .doc-slider__img
                        img(src="img/lic.png")
                    
                    .doc-slider__article Лицензия    
            
            
        .about-us__item
            .about-us__title Оборудование
            .equip-slider.owl-carousel
                .item
                    .equip-slider__img
                        img(src="img/slide-img-1.jpg")
                    
                    .equip-slider__article 
                        .equip-slider__title Станок для заточки лезвий
                        |Современный чип-ключ – это сложное устройство, состоящее из собственно ключа и интегрированного с ним электронного чипа (транспондера), являющегося электромагнитным излучателем.
                
                .item
                    .equip-slider__img
                        img(src="img/slide-img-2.jpg")
                    
                    .equip-slider__article
                        .equip-slider__title Станок для заточки лезвий
                        |Современный чип-ключ – это сложное устройство, состоящее из собственно ключа и интегрированного с ним электронного чипа (транспондера), являющегося электромагнитным излучателем.
                        
                .item
                    .equip-slider__img
                        img(src="img/slide-img-1.jpg")
                    
                    .equip-slider__article 
                        .equip-slider__title Станок для заточки лезвий
                        |Современный чип-ключ – это сложное устройство, состоящее из собственно ключа и интегрированного с ним электронного чипа (транспондера), являющегося электромагнитным излучателем.
                
                .item
                    .equip-slider__img
                        img(src="img/slide-img-2.jpg")
                    
                    .equip-slider__article
                        .equip-slider__title Станок для заточки лезвий
                        |Современный чип-ключ – это сложное устройство, состоящее из собственно ключа и интегрированного с ним электронного чипа (транспондера), являющегося электромагнитным излучателем.
    
    .form-wrap
        h2.main-title  Заказать изготовление ключа на Audi A4 с выездом на дом
        form.form(action="#")
            .man
            ul.form__action
                li Дешевле чем<br> у дилера на
                li 40%
            
            ul.form__inner
                li.form__item
                    .form__title-mob Вызвать автомеханика на дом
                    .form__title Профессиональный ремонт на выезде
                    ul.form__list
                        li Наши механики работают по всей Москве
                        li Мы используем современное оборудование
                        li Самые низкие цены на услуги
                    
                li.form__item
                    input(type="text" placeholder="Имя").form__inp
                    input(type="text" placeholder="Телефон").form__inp
                    textarea.form__textarea
                        |Напишите, что нужно сделать?
                    
                    .form__btn-wrap
                        button(type="submit").form__btn Заказать услугу
                    
                    .request__checked
                        input(type="checkbox" checked)#check
                        label(for="check") Я согласен на обработку персональных данных
             
.more-service.container
    h2.main-title Другие услуги по изготовлению ключей Audi A4
    
    ul.more-service__list
        li
            a(href="#") Отключить сигнализацию
        li  
            a(href="#") Отключить сигнализацию
        li  
            a(href="#") Прикурить автомобиль
        li  
            a(href="#") Выезд автоэлектрика
        li  
            a(href="#") Открыть машину без ключа
        li  
            a(href="#") Заменить аккумулятор
        li  
            a(href="#") Выезд автоэлектрика
          

.map-wrap
    h2.main-title Рассчитать время прибытия автомастера:
     
    .map-block#map
        .arrival-calc
            .arrival-calc__title 
                span Расчет времени прибытия автомастера        
            .arrival-calc__street Авиамоторная, 12
            button(type="button").arrival-btn#arrivalBtn Рассчитать время
            .arrival-calc__total Жмите кнопку для расчета пути

            


                    
    
    
