.banner                
    .container
        .banner__inner
            
            .chief-about
                .chief-about__img
                    img(src="img/chief.png")
                .chief-about__article
                    span Александр 
                    |руководитель компании AutoKey
                
                
            form.search-master(action="#")
                .search-master__title 
                    span Сделаем ключ для автомобиля за 1 час
                    br
                    b с выездом в Москве по цене на 
                        i 40% дешевле дилера
                    
                .payment                                      
                    .payment-inner
                        .payment-item
                            .select-custom
                                select#selectBroken
                                    option(value="Заголовок") Выберите услугу
                                    option(value="/remont-zamka-zaziganiya/") Ремонт замка зажигания
                                    option(value="/zamena-zamka-zaziganiya/") Замена замка зажигания
                        .payment-item
                            .select-custom
                                select#selectMark
                                    option(value="Заголовок") Марка автомобиля
                                    option(value="Audi") Audi
                                    option(value="BMW") BMW
                        .payment-item
                            .select-custom
                                select#selectModel
                                    option(value="Заголовок") Модель автомобиля
                                    
                        .payment-item
                            button(type="button").payment__btn#urlBtn 
                                span Рассчитать стоимость

.about-keys
    h2.main-title Цены на услуги по изготовлению ключей и стоимость работ:
    .main-text
        p Современный автомобильный замок – это серьезный барьер на пути угонщиков всех категорий, который предъявляет особые требования к автоключу и его защищенности. 
            a(href="#") Автомобильный ключ 
        |с чипом значительно усложняет жизнь злоумышленников и является гарантом сохранности вашей машины. Современный чип-ключ – это сложное устройство, состоящее из собственно ключа и интегрированного с ним электронного чипа (транспондера), являющегося электромагнитным излучателем. Как правило, такой ключ не нуждается во внешнем источнике питания или подзарядке. В чипе 
        a(href="#") автомобильного ключа  
        |записан код, который во время включения зажигания передается в электронный блок управления и запускает двигатель, а также все системы транспортного средства.
        
.steps
    h2.main-title Изготовление ключей для автомобиля с выездом за 3 шага:
    
    .steps__inner.container
        ul.steps__list   
            li.steps__list_first  Заказать изготовление ключа по телефону или онлайн
            li
                |Позвоните по номеру 
                b 8 495 123-45-98
            li Назовите марку и модель автомобиля
            li
                |Автомастер сообщит вам 
                a(href="#") стоимость услуги 
                |по изготовлению ключей для машины
                
        ul.steps__list   
            li.steps__list_second Договоритесь с мастером о времени и месте ремонта
            li Мастер приедет на автомобиле, со специальным оборудованием для изготовления ключей
            li Все работы выполняются в присутствии заказчика
            li Среднее время изготовления ключа для автомобиля 
                b 35 минут
                
        ul.steps__list    
            li.steps__list_third 100% гарантия результата в день обращения
            li Заточка лезвия, изготовление и программирование ключа
            li Вы получите новые ключи для вашего автомобиля уже через 
                b 2-3 часа после обращения
            li Оплата только после выполнения работ, наличными или на карту
            
.price-service.container
    h2.main-title Цены на услуги по изготовлению ключей и стоимость работ:
    
    ul.price-service__top
        li Вид и наименование услуги
        li Стоимость
    
    .price-list
        .price-list__item
            .price-list__inner        
                .price-list__article  Не поворачивается ключ в замке зажигания. Восстановление ключа Audi A4 и прошивка чип модуля автомобиля
                    .tooltip-icon    
                    .tooltip 
                        .tooltip__inner Ремонт замка зажигания, прошивка чип модуля
                        
                .price-list__link
                    a(href="#") Заказать услугу
                    a(href="#") Получить консультацию
                .price-list__total
                    span.price-list__old 1200 руб.
                    span.price-list__new 6780 руб.     
        .price-list__item
            .price-list__inner        
                .price-list__article  Не поворачивается ключ в замке зажигания. Восстановление ключа Audi A4 и прошивка чип модуля автомобиля
                    .tooltip-icon    
                    .tooltip 
                        .tooltip__inner Ремонт замка зажигания, прошивка чип модуля
                        
                .price-list__link
                    a(href="#") Заказать услугу
                    a(href="#") Получить консультацию
                .price-list__total
                    span.price-list__old 1200 руб.
                    span.price-list__new 6780 руб. 
        .price-list__item
            .price-list__inner        
                .price-list__article  Не поворачивается ключ в замке зажигания. Восстановление ключа Audi A4 и прошивка чип модуля автомобиля
                    .tooltip-icon    
                    .tooltip 
                        .tooltip__inner Ремонт замка зажигания, прошивка чип модуля
                        
                .price-list__link
                    a(href="#") Заказать услугу
                    a(href="#") Получить консультацию
                .price-list__total
                    span.price-list__old 1200 руб.
                    span.price-list__new 6780 руб. 
            
            
.photo-block
    .photo-block__cont
        h2.main-title Фотографии изготовления ключей для Audi и других авто:

        .photo-slider.owl-carousel
            .item
                img(src="img/slide-img-1.jpg")
            .item
                img(src="img/slide-img-2.jpg")        
            .item
                img(src="img/slide-img-3.jpg") 
            .item
                img(src="img/slide-img-4.jpg")
            .item
                img(src="img/slide-img-3.jpg") 
            .item
                img(src="img/slide-img-4.jpg")
                    
.container
    .qa-block
        .qa-block__title Вопрос и ответы
        ul.qa-block__list
            li
                .qa-block__article Не поворачивается ключ в замке зажигания. Восстановление ключа Audi A4 и прошивка чип модуля автомобиля
                    button.qa-block__btn(type="button")
                .qa-block__hidden Современный чип-ключ – это сложное устройство, состоящее из собственно ключа и интегрированного с ним электронного чипа (транспондера), являющегося электромагнитным излучателем.
            li
                .qa-block__article Не поворачивается ключ в замке зажигания. Восстановление ключа Audi A4 и прошивка чип модуля автомобиля
                    button.qa-block__btn(type="button")
                .qa-block__hidden Современный чип-ключ – это сложное устройство, состоящее из собственно ключа и интегрированного с ним электронного чипа (транспондера), являющегося электромагнитным излучателем.
            li
                .qa-block__article Не поворачивается ключ в замке зажигания. Восстановление ключа Audi A4 и прошивка чип модуля автомобиля
                    button.qa-block__btn(type="button")
                .qa-block__hidden Современный чип-ключ – это сложное устройство, состоящее из собственно ключа и интегрированного с ним электронного чипа (транспондера), являющегося электромагнитным излучателем.
            li
                .qa-block__article Не поворачивается ключ в замке зажигания. Восстановление ключа Audi A4 и прошивка чип модуля автомобиля
                    button.qa-block__btn(type="button")
                .qa-block__hidden Современный чип-ключ – это сложное устройство, состоящее из собственно ключа и интегрированного с ним электронного чипа (транспондера), являющегося электромагнитным излучателем.
                
            
        
        
                            

.car-model.container
    h2.main-title Сделаем ключи для любой марки автомобиля
    .model-slider.owl-carousel
        .item
            ol.model-list
                li
                    .model-list__img
                        img(src="img/volks-logo.png")
                    a(href="#") Volkswagen
                li
                    .model-list__img
                        img(src="img/mers-logo.png")
                    a(href="#") Mercedes

        .item
            ol.model-list
                li
                    .model-list__img
                        img(src="img/lada-logo.png")
                    a(href="#") Лада ВАЗ
                li
                    .model-list__img
                        img(src="img/nissan-logo.png")
                    a(href="#") Nissan

        .item
            ol.model-list
                li
                    .model-list__img
                        img(src="img/bmw-logo.png")
                    a(href="#") BMW
                li
                    .model-list__img
                        img(src="img/hundai-logo.png")
                    a(href="#") Hundai

        .item
            ol.model-list
                li
                    .model-list__img
                        img(src="img/skoda-logo.png")
                    a(href="#") Scoda
                li
                    .model-list__img
                        img(src="img/honda-logo.png")
                    a(href="#") Ford

        .item
            ol.model-list
                li
                    .model-list__img
                        img(src="img/mitsubishi-logo.png")
                    a(href="#") Mitsubishi
                li
                    .model-list__img
                        img(src="img/renault-logo.png")
                    a(href="#") Renault

        .item
            ol.model-list
                li
                    .model-list__img
                        img(src="img/mazda-logo.png")
                    a(href="#") Mazda
                li
                    .model-list__img
                        img(src="img/ford-logo.png")
                    a(href="#") Ford

        .item
            ol.model-list
                li
                    .model-list__img
                        img(src="img/audi-logo.png")
                    a(href="#") Audi
                li
                    .model-list__img
                        img(src="img/kia-logo.png")
                    a(href="#") KIA
                    
        .item
            ol.model-list
                li
                    .model-list__img
                        img(src="img/mazda-logo.png")
                    a(href="#") Mazda
                li
                    .model-list__img
                        img(src="img/ford-logo.png")
                    a(href="#") Ford

        .item
            ol.model-list
                li
                    .model-list__img
                        img(src="img/audi-logo.png")
                    a(href="#") Audi
                li
                    .model-list__img
                        img(src="img/kia-logo.png")
                    a(href="#") KIA
                    
        .item
            ol.model-list
                li
                    .model-list__img
                        img(src="img/mazda-logo.png")
                    a(href="#") Mazda
                li
                    .model-list__img
                        img(src="img/ford-logo.png")
                    a(href="#") Ford

        .item
            ol.model-list
                li
                    .model-list__img
                        img(src="img/audi-logo.png")
                    a(href="#") Audi
                li
                    .model-list__img
                        img(src="img/kia-logo.png")
                    a(href="#") KIA



.map-block#map
    .arrival-calc
        .arrival-calc__title 
            span Расчет времени прибытия автомастера        
        .arrival-calc__street Авиамоторная, 12
        label
            input(type="text" placeholder="Жмите иконку для расчета времени" disabled).time-inp
            button(type="button").arrival-btn#arrivalBtn   


                    
    
    
