footer.footer




include ./footer-modals.pug
script(src="libs/jquery/jquery-3.4.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js")
script(src="libs/owl.carusel-2.3.4/owl.carousel.min.js")

script(src="https://api-maps.yandex.ru/2.1/?apikey=ce888604-e1ec-4b92-9219-b6fa711cca66&lang=ru_RU"
  type="text/javascript")
script(src="js/common.js")
