footer.footer
    .footer-top
        .container
            ul.footer-top__link
                li
                    a(href="#") Как заказать ключ
                li
                    a(href="#") Цены на услуги
                li
                    a(href="#") Отправить заявку
                li
                    a(href="#") Заказать звонок            
    .container    
        ul.footer-main
            li.footer-main__item
                .footer__logo
                    img(src="img/logo.png")
                
                .footer__slogan 
                    |Новый ключ за 1 час!
                
                .payment-card
                    .payment-card__img
                        img(src="img/cards.png" width="135" height="28")
                    span Оплата по карте
                
                .metrica-mobile
                    img(src="img/metr.jpg")
            
            li.footer-main__item
                ul.footer__nav
                    li
                        a(href="#").main-menu__about О компании
                    li
                        a(href="#").main-menu__question Вопрос-ответ
                    li
                        a(href="#").main-menu__price Прайс-лист
                    li
                        a(href="#").main-menu__garant Гарантия
                    li
                        a(href="#").main-menu__contact Контакты
                
                .footer__links
                    ul
                        li
                            a(href="#") Прикурить автомобиль
                        li
                            a(href="#") Зарядить аккумулятор 
                        li
                            a(href="#") Отключить сигнализацию
                        li
                            a(href="#") Выезд автоэлектрика
                        li
                            a(href="#") Снять секретки                              
                    ul
                        li
                            a(href="#") Прикурить автомобиль
                        li
                            a(href="#") Зарядить аккумулятор 
                        li
                            a(href="#") Отключить сигнализацию
                        li
                            a(href="#") Выезд автоэлектрика
                        li
                            a(href="#") Снять секретки 
                    ul
                        li
                            a(href="#") Прикурить автомобиль
                        li
                            a(href="#") Зарядить аккумулятор 
                        li
                            a(href="#") Отключить сигнализацию
                        li
                            a(href="#") Выезд автоэлектрика
                        li
                            a(href="#") Снять секретки 
                            
            li.footer-main__item
                ul.footer__info
                    li
                        a(href="tel:84953606653").footer__call 8 495 360-66-53
                    li
                        a(href="mailto:sale@bruschaty.ru").footer__email 
                            |E-mail: 
                            span sale@bruschaty.ru
                    li
                        .footer__time Ежедневно: с 9:00 - 21:00
                    li
                        span.footer__city Москва
                    li
                        span.footer__adress Авиамоторная, 12
                    li
                        .social
                            img(src="img/soc.png")                                
                            
    .footer-bottom
        .container
            .copy © Ключи-замки, 2006–2019
            .metrica 
                img(src="img/metr.jpg")
        


include ./footer-modals.pug
script(src="libs/jquery/jquery-3.4.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js")
script(src="libs/owl.carusel-2.3.4/owl.carousel.min.js")

script(src="https://api-maps.yandex.ru/2.1/?apikey=ce888604-e1ec-4b92-9219-b6fa711cca66&lang=ru_RU"
  type="text/javascript")
script(src="js/common.js")
