header
    .header-desktop
        .header-desktop__main
            .header-desktop__logo
                img(src="img/logo.png")
                .logo-article
                    |Ремонт замков зажигания с 
                    span 2001 г
                    
            form(action="#").search
                label
                    input(type="text" placeholder="Название пирога, начинка")
                    button(type="submit").btn-search Найти    
            
            ul.main-menu
                li
                    a(href="#").main-menu__price Прайс-лист
                li
                    a(href="#").main-menu__about О компании
                li
                    a(href="#").main-menu__contact Контакты

            .header-desktop__cont
                .work-time Ежедневно: с 9:00 - 21:00
                a(href="tel:84953606653").header-desktop__call 
                    |8 495 
                    span 360-66-53
                .request-call
                    a(href="#") Заказать звонок               

        ul.header-desktop__links
            li
                a(href="#").autopsy-link Вскрытие автомобиля
            li
                a(href="#").duplicate-link Сделать дубликат ключа
            li
                a(href="#").chip-link Изготовление чип ключей
            li
                a(href="#").repairs-link Ремонт замка зажигания

    .header-mobile
        .header-mobile__cont
            span Москва
            a(href="tel:74954320777") +7 (495) 432-07-77   

        .header-mobile__menu
            .burger
                .burger__inner
                    span
                    span
                    span
                    span

            .logo-mob
                .logo-mob__img
                    img(src="img/logo.png")
            
            .points-icon

    .header-mobile__hidden
        form(action="#").search
            label
                input(type="text" placeholder="Название пирога, начинка")
            
        ul.main-menu.main-menu_mobile
            li
                a(href="#").main-menu__about О компании
            li
                a(href="#").main-menu__price Прайс-лист
            li
                a(href="#").main-menu__contact Контакты
            li
                .request-call
                    a(href="#") Заказать звонок 
                    
        .menu-about 
            |Ремонт замков зажигания с 
            span 2001 г                                                 
        
        ul.header-desktop__links.header-desktop__links_mob
            li
                a(href="#").autopsy-link Вскрытие автомобиля
            li
                a(href="#").duplicate-link Сделать дубликат ключа
            li
                a(href="#").chip-link Изготовление чип ключей
            li
                a(href="#").repairs-link Ремонт замка зажигания
