header
    .header-desktop
        .header-desktop__main
            .header-desktop__logo
                img(src="img/logo.png")
                .logo-article
                    |Ремонт замков зажигания с 
                    span 2001 г
                    
            form(action="#").search
                label
                    input(type="text" placeholder="Название пирога, начинка")
                    button(type="submit").btn-search Найти    
            
            ul.main-menu
                li
                    a(href="#").main-menu__price Прайс-лист
                li
                    a(href="#").main-menu__about О компании
                li
                    a(href="#").main-menu__contact Контакты

            .header-desktop__cont
                .work-time Ежедневно: с 9:00 - 21:00
                a(href="tel:84953606653").header-desktop__call 
                    |8 495 
                    span 360-66-53
                .request-call
                    a(href="#") Заказать звонок               

        ul.header-desktop__links
            li
                a(href="#") Замена личинки замка
            li
                a(href="#") Замена замка зажигания
            li
                a(href="#") Ремонт контактной группы
            li
                a(href="#") Механический замок
            li
                a(href="#") Электронный замок
            li
                a(href="#") Замена замка зажигания

    .header-mobile
        .header-mobile__cont
            span Москва
            a(href="tel:74951322575") +7 (495) 132-25-75   

        .header-mobile__menu
            .burger
                .burger__inner
                    span
                    span
                    span
                    span

            .logo-mob
                .logo-mob__img
                    img(src="img/logo-mob.png")
                .header-mobile__title Ремонт замков зажигания

    .header-mobile__hidden
                                         
                    
