@import "import/reset";
@import "import/fonts";
@import "import/vars";
@import "import/mixin";

body {
    font-family: "ProximaNova-Regular";
    color: #495057;
    overflow-x: hidden;
}

body.hidden {
    overflow-y: hidden;
}

.main-title {
    font-family: "Gilroy-Semibold";
    font-size: 24px;
    color: $color-title;
    margin-bottom: 12px;
    @media(min-width: 768px) {
        font-size: 32px;
    }
}

.request__checked {
    input {
        display: none;
    }

    input+label {
        font-family: "Gilroy-Regular";
        font-size: 14px;
        color: $color-text2;
        display: inline-block;
        position: relative;
        padding-left: 32px;
        text-align: left;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: white;
            width: 20px;
            height: 20px;
            z-index: 5;
        }

        &:before {
            content: '';
            position: absolute;
            left: 1px;
            top: 9px;
            width: 18px;
            height: 14px;
            background: url("../img/check-green.png") no-repeat center;
            z-index: 10;
            display: none;
        }
    }

    input:checked + label {
        &:before {
            display: block;
        }
    }
}

.container {
    max-width: 1560px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.car-model {
    margin-bottom: 59px;
    @media(min-width: 1280px) {
        margin-bottom: 0;
    }

    .main-title {
        margin-bottom: 62px;
    }
}

.model-list {
    &__img {
        width: 32px;
        margin-right: 8px;
    }

    li {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 46px;
        }
    }

    a {
        font-size: 18px;
        color: #191919;

        &:hover {
            color: $color-blue;
            text-decoration: underline;
        }
    }
}

.photo-block {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;

    .main-title {
        text-align: center;
        margin-bottom: 23px;
    }
}

.map-block {
    max-width: 1920px;
    height: 420px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
    position: relative;
    @media(min-width: 992px) {
        margin: 0 auto 40px;
    }

    .arrival-calc {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 20px;
        @media(min-width: 992px) {
            left: 134px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    z-index: 50;
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    overflow-y: auto;
}

.arrival-calc {
    width: 320px;
    height: 216px;
    color: white;
    font-size: 15px;
    background: $color-title;
    border-radius: 5px;
    padding: 14px 16px 28px;
    font-family: "Gilroy-Medium";
    @media(min-width: 992px) {
        width: 340px;
        height: 368px;
        background: $color-title url('../img/mechanic-with-cap.png') no-repeat center bottom;
        padding: 20px 23px 0;
    }

    &__title {
        margin-bottom: 35px;
        font-size: 12px;
        @media(min-width: 992px) {
            font-size: 15px;
            text-align: center;
        }

        span {
            position: relative;
            padding-bottom: 9px;
            display: block;
            @media(min-width: 992px) {
                display: inline-block;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: white;
            }
        }
    }

    &__street {
        padding-left: 43px;
        margin-left: 12px;
        position: relative;
        margin-bottom: 38px;

        &:after {
            content: 'А';
            position: absolute;
            font-family: "Gilroy-Semibold";
            font-size: 14px;
            left: 0;
            top: -5px;
            text-align: center;
            padding-top: 4px;
            width: 29px;
            height: 29px;
            background: $color-red2;
            border-radius: 10em;
        }

        &:before {
            content: '';
            position: absolute;
            left: -2px;
            bottom: -34px;
            width: 24px;
            height: 24px;
            background: url("../img/str.png") no-repeat center;
        }
    }

    label {
        display: block;
        width: 100%;
        position: relative;

        &:after {
            content: 'B';
            position: absolute;
            width: 29px;
            height: 29px;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            padding-top: 5px;
            font-family: "Gilroy-Semibold";
            font-size: 14px;
            background: $color-blue2;
            border-radius: 10em;
        }

        .arrival-btn {
            position: absolute;
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            border-radius: 10em;
            border: none;
            background: url("../img/mess-icon.png") no-repeat center;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                background: $color-yellow url("../img/mess-icon.png") no-repeat center;
            }
        }

        input {
            width: 100%;
            height: 44px;
            font-size: 12px;
            border: 2px solid $color-yellow;
            padding-left: 46px;
            padding-right: 34px;
        }
    }
}

.search-master {
    width: 100%;
}

.search-master__title {
    background: white;
    text-align: center;
    padding: 18px 10px 15px;
    margin-bottom: 40px;
    @media(min-width: 992px) {
        background: none;
    }
    @media(min-width: 1280px) {
        text-align: left;
        padding: 18px 10px 15px 25px;
    }

    span {
        font-family: "ProximaNova-Bold";
        color: #FF4345;
        display: inline-block;
        margin-bottom: 16px;
        text-transform: uppercase;
        font-size: 24px;
        position: relative;
        @media(min-width: 992px) {
            font-size: 36px;
            color: #FFE033;
            padding-left: 50px;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 34px;
                height: 25px;
                background: url("../img/quote.png") no-repeat center;
                transform: rotate(180deg);
            }
        }
        @media(min-width: 1280px) {
            font-size: 45px;
        }
    }

    b {
        font-size: 20px;
        position: relative;
        @media(min-width: 992px) {
            font-size: 28px;
            color: #FFE033;
            padding-right: 50px;

            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 20px;
                width: 34px;
                height: 25px;
                background: url("../img/quote.png") no-repeat center;
            }
        }
        @media(min-width: 1280px) {
            font-size: 32px;
            padding-left: 50px;
        }

        i {
            font-family: "ProximaNova-Semibold";
        }
    }
}

.payment-inner {
    width: 248px;
    margin: 0 auto;
    @media(min-width: 992px) {
        width: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.banner__inner {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
}

.chief-about {
    width: 180px;
    @media(max-width: 1279px) {
        display: none;
    }

    &__img {
        width: 175px;
        height: 175px;
        border-radius: 100%;
        overflow: hidden;
        border: 5px solid #FEDF3B;
        margin: 0 auto 18px;
    }

    &__article {
        font-family: "ProximaNova-Semibold";
        background: #FFF1A6;
        border-radius: 10px;
        padding: 8px 10px;
        color: #374957;
        background: #FFF1A7;
        font-size: 16px;

        span {
            font-family: "ProximaNova-Bold";
            font-size: 28px;
        }
    }
}

.payment__btn {
    font-family: "ProximaNova-Semibold";
    font-size: 18px;
    width: 100%;
    height: 52px;
    color: #514158;
    background: #FFF429;
    box-shadow: 0 0 30px rgba(255, 244, 41, 0.7), 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
}

.payment-item {
    margin-bottom: 28px;
    @media(min-width: 992px) {
        width: 248px;
        padding: 0 5px;
    }
}

.select-custom {
    .select2-container {
        width: 100% !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding-left: 20px;
    }

    .select2-selection--single {
        font-family: "ProximaNova-Semibold";
        background: white;
        margin: 0;
        border: none;
        height: 52px;
        line-height: 40px;
        color: #A4A4A4;
        font-size: 15px;
        text-transform: none;
        position: relative;
        border-radius: 3px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        border: 2px solid #6FC727;
        box-shadow: inset 0 0 15px #6FC727;
        border-radius: 3px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        position: absolute;
        width: 12px;
        height: 8px;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background: url("../img/arrow.png") no-repeat center;

        b {
            display: none;
        }
    }
}

.select-custom.error {
    border: 3px solid red;
    border-radius: 3px;
}

.header-desktop {
    @media(max-width: 991px) {
        display: none;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__main {
        padding: 6px 24px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__links {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        padding: 0 17px;
        align-items: center;
        justify-content: center;
        padding: 16px 0;
        background: #F5E35F;

        li {
            margin: 0 35px;
            @media(min-width: 1600px) {
                margin: 0 55px;
            }
        }

        a {
            font-size: 15px;
            display: inline-block;
            position: relative;
            color: #C00027;
            border-bottom: 1px dotted transparent;
            @media(min-width: 1280px) {
                font-size: 18px;
            }
            @media(min-width: 1366px) {
                font-size: 22px;
            }

            &:after {
                content: '';
                position: absolute;
                left: -40px;
                top: 50%;
                transform: translateY(-50%);
                width: 32px;
                height: 30px;
            }

            &:hover {
                border-bottom: 1px dotted #C00027;
            }
        }
    }
}

.autopsy-link {
    &:after {
        background: url("../img/keys-desc.png") no-repeat center;
        background-size: contain;
    }
}

.duplicate-link {
    &:after {
        background: url("../img/key.png") no-repeat center;
        background-size: contain;
    }
}

.chip-link {
    &:after {
        background: url("../img/rental.png") no-repeat center;
        background-size: contain;
    }
}

.repairs-link {
    &:after {
        background: url("../img/lock.png") no-repeat center;
        background-size: contain;
    }
}

.header-desktop__logo {
    max-width: 250px;
    width: 100%;
    @media(min-width: 1100px) {
        margin-bottom: 14px;
    }
}

.logo-article {
    font-family: "ProximaNova-Semibold";
    font-size: 15px;
    color: #495057;

    span {
        color: #4FBD14;
    }
}

.search {
    max-width: 608px;
    width: 100%;
    @media(min-width: 1366px) {
        max-width: 508px;
        width: 100%;
    }
    @media(min-width: 1600px) {
        max-width: 420px;
        width: 100%;
    }
    @media(min-width: 1800px) {
        max-width: 608px;
        width: 100%;
    }

    label {
        display: inline-block;
        width: 100%;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            background: url("../img/search.png") no-repeat center;
        }
    }

    input {
        font-family: "ProximaNova-Regular";
        font-size: 18px;
        background: #FFFFFF;
        border: 2px solid #FFE033;
        border-radius: 3px 0 0 3px;
        height: 45px;
        padding-left: 55px;
        padding-right: 10px;
        width: calc(100% - 132px);
        color: #808080;
    }
}

.header-desktop__cont {
    text-align: right;
    @media(min-width: 1100px) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
    }
    @media(min-width: 1600px) {
        display: block;
    }
}

.work-time {
    font-family: "ProximaNova-Semibold";
    font-size: 14px;
    margin-bottom: 5px;
    @media(min-width: 1100px) {
        margin-bottom: 0;
    }
    @media(min-width: 1600px) {
        margin-bottom: 5;
    }
}

.header-desktop__call {
    font-family: "ProximaNova-Semibold";
    font-size: 34px;
    color: #6FC727;
    @media(min-width: 1100px) {
        display: inline-block;
        margin: 0 42px 0 15px;
        font-size: 26px;
    }
    @media(min-width: 1600px) {
        margin: 0;
        font-size: 34px;
    }

    span {
        color: #C00227;
    }
}

.request-call {
    a {
        position: relative;
        color: #495057;
        border-bottom: 1px dotted #495057;

        &:hover {
            border-bottom: 1px dotted transparent;
        }

        &:after {
            content: '';
            position: absolute;
            left: -24px;
            top: 50%;
            transform: translateY(-50%);
            width: 15px;
            height: 15px;
            background: url("../img/call_header.png") no-repeat center;
            background-size: contain;
        }
    }
}

.btn-search {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 132px;
    height: 45px;
    background: #FADB2F;
    border-radius: 0 5px 5px 0;
    text-align: center;
    font-size: 22px;
    color: #000000;
    border: none;
    transition: 0.5s;

    &:hover {
        background: #FFEB3F;
    }
}

.main-menu {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    @media(min-width: 992px) {
        padding-left: 35px;
    }

    li {
        &:not(:last-child) {
            margin-right: 88px;
        }
    }

    a {
        color: #495057;
        font-size: 18px;
        position: relative;

        &:hover {
            border-bottom: 1px dotted #495057;
        }

        &:after {
            content: '';
            position: absolute;
            left: -35px;
            top: -3px;
            width: 24px;
            height: 24px;
        }
    }

    &__price {
        &:after {
            background: url("../img/price.png") no-repeat center;
        }
    }

    &__about {
        &:after {
            background: url("../img/about-icon.png") no-repeat center;
        }
    }

    &__contact {
        &:after {
            background: url("../img/contacts.png") no-repeat center;
        }
    }
}

.burger {
    width: 30px;
    height: 26px;
    cursor: pointer;
    background: url("../img/burger.png") no-repeat center;
}

.burger.active {
    background: url("../img/close.png") no-repeat center;
    background-size: contain;
}

.points-icon {
    width: 30px;
    height: 30px;
    background: url("../img/thing.png") no-repeat center;
}

.menu-about {
    font-family: "ProximaNova-Semibold";
    font-size: 18px;
    text-align: center;
    margin-bottom: 14px;
    padding-top: 10px;
    @media(max-width: 374px) {
        font-size: 16px;
    }

    span {
        color: #4FBD14;
    }
}

.logo-mob {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;

    &__img {
        width: 150px;
        position: relative;
        top: 2px;
    }
}

.header-mobile {
    height: 93px;
    @media(min-width: 375px) {
        height: 105px;
    }
    @media(min-width: 992px) {
        display: none;
    }

    &__cont {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        background: #FF4345;
        padding: 12px 16px;

        a {
            font-family: "ProximaNova-Semibold";
            color: white;
            font-size: 18px;
        }
    }

    &__menu {
        background: #FEDF3B;
        padding: 6px 16px 5px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 100;
    }
}

.header-mobile__hidden {
    position: fixed;
    width: 100%;
    z-index: 50;
    top: 105px;
    overflow-y: auto;
    padding: 16px;
    background: #FEDF3B;
    display: none;
    @media(max-width: 767px) {
        height: 100%;
    }

    .search {
        max-width: 400px;
        margin: 0 auto;

        input {
            width: 100%;
        }
    }
    @media(min-width: 992px) {
        display: none !important;
    }
}

.stickytop {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.header-mobile__hidden.sticky {
    top: 58px;
}

.banner {
    background: url("../img/header-bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    padding: 12px 0;

    .container {
        padding: 0;
        @media(min-width: 992px) {
            padding: 0 10px;
        }
    }
    @media(min-width: 992px) {
        padding: 63px 0 76px;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(25, 4, 32, 0.75);
        z-index: 0;
    }

    .container {
        position: relative;
        z-index: 10;
    }
}

.main-menu.main-menu_mobile {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 35px;
    @media(min-width: 375px) {
        padding-left: 32px;
        max-width: 332px;
        width: 100%;
    }
    @media(min-width: 768px) {
        max-width: 832px;
        padding-left: 46px;
    }

    .request-call {
        a {
            color: #FF4345;

            &:after {
                top: 50%;
            }
        }
    }

    li {
        width: 100%;
        margin: 0 0 20px;

        a {
            font-size: 18px;
        }
        @media(min-width:375px) {
            width: 50%;
        }
        @media(min-width: 768px) {
            width: 25%;
        }
    }
}

.header-desktop__links_mob {
    background: none;
    padding: 0;
    flex-direction: column;
    @media(min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    li {
        width: 100%;
        margin: 0 0 20px;
        @media(min-width: 768px) {
            width: 48%;
        }
    }

    a {
        font-size: 16px;
        display: block;
        width: 100%;
        padding: 15px 0;
        background: #FFF1A6;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        text-align: center;

        &:after {
            left: 7px;
            @media(min-width: 375px) {
                left: 20px;
            }
        }
    }

    .autopsy-link:after {
        background: url("../img/car-key.png") no-repeat center;
    }
}

.footer {
    border-top: 5px solid #E63141;
    background: #FFF1A7;
}

.footer-top {
    border-bottom: 1px solid #DCCC75;
    margin-bottom: 28px;
}

.footer__nav {
    padding-top: 20px;
    margin-bottom: 25px;
    @media(min-width: 375px) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
    }
    @media(min-width: 500px) {
        padding-top: 0;
    }

    li {
        margin-bottom: 20px;
        @media(min-width: 375px) {
            width: 50%;
        }
        @media(min-width: 500px) {
            width: auto;
            margin-right: 20px;
            margin-bottom: 15px;
        }
        @media(min-width: 1366px) {
            margin-right: 40px;
        }
        @media(min-width: 1500px) {
            margin-right: 60px;
        }
    }

    a {
        font-family: "ProximaNova-Semibold";
        font-size: 18px;
        display: inline-block;
        position: relative;
        padding-left: 30px;
        color: #7F7F7F;
        &:hover{
            color: #FF4345;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background-size: contain;
        }
    }
}

.footer__links {
    @media(min-width: 500px) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
    }

    ul {
        max-width: 240px;
        margin-bottom: 34px;
        @media(min-width: 500px) {
            padding: 5px;
        }
        @media(min-width: 1366px) {
            padding: 0;
            &:not(:last-child){
                margin-right: 60px;
            }
        }
        @media(min-width: 1500px) {
            &:not(:last-child){
                margin-right: 80px;
            }
        }
    }

    li {
        margin-bottom: 16px;
    }

    a {
        font-size: 18px;
        color: #7F7F7F;
        display: inline-block;
        border-bottom: 1px dotted transparent;

        &:hover {
            color: #FF4345;
            border-bottom: 1px dotted #FF4345;
        }
    }
}

.main-menu__question:after {
    background: url("../img/question.png") no-repeat center;
}

.main-menu__garant:after {
    background: url("../img/garant.png") no-repeat center;
}

.footer-top__link {
    @media(min-width: 500px) {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        margin-right: 10px;
        @media(min-width: 768px) {
            margin-right: 20px;
        }
        @media(min-width: 992px) {
            margin-right: 60px;
        }
    }

    a {
        font-size: 18px;
        position: relative;
        display: inline-block;
        color: #005BD1;
        padding: 6px 0;
        border-bottom: 4px solid transparent;
        @media(min-width: 768px) {
            padding: 12px 0;
        }

        &:hover {
            border-bottom: 4px solid #005BD1;
        }
    }
}

.footer__logo {
    width: 222px;
    @media(max-width: 767px) {
        display: none;
    }
}

.footer-main {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(min-width: 992px){
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__item {
        &:first-child {
            @media(max-width: 991px) {
                order: 1;
                text-align: center;
            }
        }
        &:nth-child(2){
            @media(min-width: 992px){
                margin: 0 15px;
            }
        }
    }
}

.metrica-mobile {
    padding: 12px 0;
    @media(min-width: 768px) {
        display: none;
    }
}

.footer__slogan {
    width: 150px;
    color: #FF4345;
    font-size: 25px;
    margin-bottom: 17px;
    @media(max-width: 991px) {
        width: auto;
    }
}

.payment-card {
    span {
        color: #7F7F7F;
        display: inline-block;
        padding-left: 5px;
    }
}

.footer__info {
    text-align: center;
    @media(min-width: 992px){
        text-align: left;
        width: 260px;
    }

    li {
        margin-bottom: 11px;
    }
}

.footer__call {
    font-family: "ProximaNova-Bold";
    font-size: 28px;
    color: #FF4345;
    display: inline-block;
    position: relative;
    padding-left: 37px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 25px;
        background: url("../img/tel.png") no-repeat center;
    }
}

.footer__email {
    font-family: "ProximaNova-Semibold";
    color: #7F7F7F;
    font-size: 18px;
    position: relative;
    display: inline-block;
    padding-left: 26px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url("../img/email.png") no-repeat center;
    }

    span {
        border-bottom: 1px solid #7F7F7F;
    }
}

.footer__time {
    font-size: 18px;
    color: #7F7F7F;
}

.footer__city {
    font-family: "ProximaNova-Semibold";
    color: #7F7F7F;
    font-size: 22px;
    display: inline-block;
    position: relative;
    padding-left: 28px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url("../img/punct.png") no-repeat center;
    }
}

.footer-bottom {
    padding: 12px 0 7px;
    border-top: 1px solid #DCCC75;
    @media(max-width: 767px) {
        background: #FF4345;
        padding: 10px 0;
        text-align: center;
        border-top: none;
    }
    @media(min-width: 768px) {
        margin-top: 20px;
        .container {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.copy {
    font-size: 14px;
    color: #7F7F7F;
    margin-bottom: 10px;
    @media(max-width: 767px) {
        font-family: "ProximaNova-Bold";
        text-align: center;
        color: white;
        margin-bottom: 0;
    }
    @media(min-width: 768px) {
        margin-bottom: 0;
    }
}

.metrica {
    @media(max-width: 767px) {
        display: none;
    }
}

.footer__adress {
    font-size: 18px;
    color: #7F7F7F;
}
